a {
  text-decoration: none;
  color: inherit; }

.alamo-app {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01'; }

.first-bg {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(120deg, #ff009d, #f5b324);
  padding: 2rem 8rem 0 8rem; }

.first-bg:after {
  background-color: #fafafa;
  top: 100%;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-5deg);
  transform-origin: left top;
  z-index: -1; }

.second-bg {
  position: relative;
  z-index: 5;
  background-color: #fafafa;
  padding: 0 16rem; }

.second-bg:after {
  background-color: #000000;
  top: 100%;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-5deg);
  transform-origin: left top;
  z-index: 6; }

.third-bg {
  position: relative;
  z-index: 10;
  padding-top: 0;
  padding-right: 16rem;
  padding-bottom: 2rem;
  padding-left: 16rem;
  background-color: #000000; }

.header {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
  margin-bottom: 5rem; }

.header > .buffer {
  flex: 2; }

.header .header-right .header-item {
  display: inline-block;
  padding: 1rem;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  color: #ffffff; }

.greeting-section {
  padding: 0 5rem 10rem 5rem; }

.greeting-section .big-greeting {
  margin-bottom: 2.5rem; }

.greeting-section .big-greeting > div {
  text-align: center; }

.greeting-section .big-greeting .small-section {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  color: #f0b323; }

.greeting-section .big-greeting .large-section {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  font-size: 3rem; }

.greeting-section .description {
  display: flex; }

.greeting-section .description > div {
  flex: 1; }

.greeting-section .description .description-image {
  padding-right: 3rem; }

.greeting-section .description .description-text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  color: #ffffff;
  flex-shrink: 0; }

.greeting-section .description img {
  width: auto; }

.signup-section {
  text-align: center;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 7.5rem; }

.signup-section .section-img {
  position: absolute;
  right: 105%; }

.signup-section .signup-wrapper {
  position: relative; }

.signup-section .signup-content {
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 1px 5px 0 rgba(24, 17, 3, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(24, 17, 3, 0.14); }

.signup-section .signup-content .form-element {
  margin-bottom: 1rem; }

.signup-section .signup-content .form-element label {
  display: block;
  font-size: .62rem;
  opacity: 0.38;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #141310;
  text-align: left; }

.signup-section .signup-content .form-element input[type="text"] {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  width: 100%;
  border: solid 1px rgba(20, 19, 16, 0.18);
  border-radius: 3px;
  height: 30px;
  font-size: 1rem; }

.signup-section .signup-content .form-element button {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  background-color: #f0b323;
  font-weight: bold;
  letter-spacing: 1px;
  color: #141310;
  border-radius: 3px;
  border: none;
  padding: .5rem 1.5rem; }

.faq-section {
  text-align: center;
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 7.5rem;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  color: #ffffff; }

.faq-section .section-img {
  position: absolute;
  right: 105%; }

.faq-section .faq-content {
  position: relative; }

.faq-section .faq-content .faq-block {
  text-align: left; }

.faq-section .faq-content .faq-block .block-header {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: 'Futura W01';
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 1px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1rem; }

.faq-section .faq-content .faq-block .block-content {
  font-size: .875rem;
  line-height: 1.43; }
