
.text-dark {
    color: #000000 !important;
}

.text-light {
    color: #ffffff !important;
}

a {
    text-decoration: none;
    color: inherit;
    &.text-dark, &.text-light {
        text-decoration: none;
    }
    &.text-dark:hover {
        color: #000000 !important;
    }
    &.text-light:hover {
        color: #ffffff !important;
    }
}

@mixin text-default {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    font-family: 'Futura W01';
}

@mixin text-heading {
    @include text-default;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 1px;
}

$white-bg-color: #fafafa;
$orange-1: #f0b323;
$error-color: red;

$page-side-spacing: 8rem;
$page-top-spacing: 2rem;
$extra-sidespacing: 8rem;

$xxs-width: 0px;
$xxs-ratio: 25/60;

$xs-width: 320px;
$xs-ratio: .5;

$sm-width: 576px;
$sm-ratio: 3/4;

$md-width: 768px;
$md-ratio: 1;

$header-brand-img-width: 119px;
$hero-img-width: 410px;
$signup-img-width: 146px;
$faq-img-width: 81px;

@media (min-width: $xxs-width) {
    .header-brand-img {
        width: $header-brand-img-width * $sm-ratio;
    }
    .hero-img {
        width: $hero-img-width * $xxs-ratio;
    }
    .signup-img {
        display: none;
        width: $signup-img-width * $xxs-ratio;
    }
    .faq-img {
        width: $faq-img-width * $xxs-ratio;
    }
}

@media (min-width: $xs-width) {
    .header-brand-img {
        width: $header-brand-img-width * $md-ratio;
    }
    .hero-img {
        width: $hero-img-width * $xs-ratio;
    }
    .signup-img {
        display: none;
        width: $signup-img-width * $xs-ratio;
    }
    .faq-img {
        width: $faq-img-width * $xs-ratio;
    }
}

@media (min-width: $sm-width) {
    .header-brand-img {
        width: $header-brand-img-width * $sm-ratio;
    }
    .hero-img {
        width: $hero-img-width * $sm-ratio;
    }
    .signup-img {
        display: block;
        width: $signup-img-width * $sm-ratio;
    }
    .faq-img {
        width: $faq-img-width * $sm-ratio;
    }
}

@media (min-width: $md-width) {
    .header-brand-img {
        width: $header-brand-img-width * $md-ratio;
    }
    .hero-img {
        width: $hero-img-width * $md-ratio;
    }
    .signup-img {
        display: block;
        width: $signup-img-width * $md-ratio;
    }
    .faq-img {
        width: $faq-img-width * $md-ratio;
    }
}

.alamo-app {
    @include text-default;
}

@mixin angled-bottom($color, $z-index) {
    &:after {
        background-color: $color;
        top: 100%;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-5deg);
        transform-origin: left top;
        z-index: $z-index;
    }
}

.first-bg {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(120deg, #ff009d, #f5b324);
    @include angled-bottom($white-bg-color, -1);

    padding-bottom: 5rem;
}

.second-bg {
    position: relative;
    z-index: 5;
    background-color: $white-bg-color;
    @include angled-bottom(#000000, 6);

    padding-bottom: 7rem;
}

.third-bg {
    position: relative;
    z-index: 10;
    background-color: #000000;
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.greeting-section {
    .big-greeting {
        .small-section {
            @include text-heading;
            color: $orange-1;
        }
        .large-section {
            @include text-heading;
            font-size: 3rem;
        }
    }
    .description {
        .description-text {
            text-align: center;
        }
        @media (min-width: $md-width) {
            .description-text {
                text-align: left;
            }
        }
    }
}

@mixin generic-section {
    .section-img {
        position: absolute;
        right: 105%;
    }
}

.signup-section {
    @include generic-section;
    .signup-wrapper {
        position: relative;
    }
    .signup-content {
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 rgba(24, 17, 3, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(24, 17, 3, 0.14);
        .form-section {
            label {
                display: block;
                font-size: .62rem;
                opacity: 0.38;
                font-weight: bold;
                line-height: 1.6;
                letter-spacing: 1px;
                color: #141310;
            }
            @mixin form-element {
                width: 100%;
                border: solid 1px rgba(20, 19, 16, 0.18);
                border-radius: 3px;
                height: 30px;
                font-size: 1rem;
            }
            input[type="text"] {
                @include text-default;
                @include form-element;
            }
            @mixin error-styles {
                border-color: $error-color;
                &:focus {
                    outline-color: $error-color;
                }
            }
            &.error {
                input[type="text"] {
                    @include error-styles;
                }
                .select-container select {
                    @include error-styles;
                }
            }
            .select-container {
                position: relative;

                select {
                    @include form-element;
    
                    -webkit-appearance: none;
                    background-color: white;
                }
    
                img {
                    position: absolute;
                    right: 0;
                    top: .2rem;
                    transform: rotate(180deg);
                }
            }
            button {
                position: relative;
                @include text-default;
                background-color: $orange-1;
                font-weight: bold;
                letter-spacing: 1px;
                color: #141310;
                border-radius: 3px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.faq-section {
    @include generic-section;
    .faq-content {
        position: relative;
        .faq-block {
            text-align: left;
            .block-header {
                @include text-heading;
                line-height: 1.5;
                letter-spacing: 1px;
                font-size: 1rem;
            }
            .block-content {
                font-size: .875rem;
                line-height: 1.43;
            }
        }
    }
}

