
@mixin text-default {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    font-family: 'Futura W01';
}

@mixin text-heading {
    @include text-default;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 1px;
}

@mixin text-dark-background {
    @include text-default;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

$page-side-spacing: 8rem;
$page-top-spacing: 2rem;
$extra-sidespacing: 8rem;

.alamo-app {
    @include text-default;
}

@mixin angled-bottom($color, $z-index) {
    &:after {
        background-color: $color;
        top: 100%;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY(-5deg);
        transform-origin: left top;
        z-index: $z-index;
    }
}

.first-bg {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(120deg, #ff009d, #f5b324);
    @include angled-bottom(#fafafa, -1);
    padding: $page-top-spacing $page-side-spacing 0 $page-side-spacing;
}

.second-bg {
    position: relative;
    z-index: 5;
    background-color: #fafafa;
    padding: 0 ($page-side-spacing + $extra-sidespacing);
    @include angled-bottom(#000000, 6)
}

.third-bg {
    position: relative;
    z-index: 10;
    padding-top: 0;
    padding-right: ($page-side-spacing + $extra-sidespacing);
    padding-bottom: $page-top-spacing;
    padding-left: ($page-side-spacing + $extra-sidespacing);
    background-color: #000000;
}

.header {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 1rem;
    margin-bottom: 5rem;

    & > .buffer {
        flex: 2;
    }

    .header-right .header-item {
        display: inline-block;
        padding: 1rem;
        @include text-dark-background;
    }
}

.greeting-section {
    $more-side-spacing: 5rem;
    padding: 0 $more-side-spacing 10rem $more-side-spacing;
    .big-greeting {
        margin-bottom: 2.5rem;

        & > div {
            text-align: center;
        }

        .small-section {
            @include text-heading;
            color: #f0b323;
        }
        .large-section {
            @include text-dark-background;
            @include text-heading;
            font-size: 3rem;
        }
    }
    .description {
        display: flex;

        & > div {
            flex: 1;
        }
        .description-image {
            padding-right: 3rem;
        }

        .description-text {
            @include text-dark-background;
            flex-shrink: 0;
        }

        img {
            width: auto;
        }
    }
}

@mixin generic-section {
    $generic-side-spacing: 8rem;

    text-align: center;
    padding-top: 2rem;
    padding-left: $generic-side-spacing;
    padding-right: $generic-side-spacing;
    padding-bottom: 7.5rem;
    .section-img {
        position: absolute;
        right: 105%;
    }
}

.signup-section {
    @include generic-section;
    .signup-wrapper {
        position: relative;
    }
    .signup-content {
        padding: 2rem;
        border-radius: 3px;
        box-shadow: 0 1px 5px 0 rgba(24, 17, 3, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(24, 17, 3, 0.14);
        .form-section {
            margin-bottom: 1rem;
            label {
                display: block;
                font-size: .62rem;
                opacity: 0.38;
                font-weight: bold;
                line-height: 1.6;
                letter-spacing: 1px;
                color: #141310;
                text-align: left;
            }
            @mixin form-element {
                width: 100%;
                border: solid 1px rgba(20, 19, 16, 0.18);
                border-radius: 3px;
                height: 30px;
                font-size: 1rem;
                padding-left: .2rem;
            }
            input[type="text"] {
                @include text-default;
                @include form-element;
            }
            @mixin error-styles {
                border-color: red;
                &:focus {
                    outline-color: red;
                }
            }
            &.error {
                input[type="text"] {
                    @include error-styles;
                }
                .select-container select {
                    @include error-styles;
                }
            }
            .select-container {
                position: relative;

                select {
                    @include form-element;
    
                    -webkit-appearance: none;
                    background-color: white;
                }
    
                img {
                    position: absolute;
                    right: 0;
                    top: .2rem;
                    transform: rotate(180deg);
                }
            }
            button {
                position: relative;
                @include text-default;
                background-color: #f0b323;
                font-weight: bold;
                letter-spacing: 1px;
                color: #141310;
                border-radius: 3px;
                border: none;
                padding: .5rem 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.faq-section {
    @include generic-section;
    @include text-dark-background;
    .faq-content {
        position: relative;
        .faq-block {
            text-align: left;
            .block-header {
                @include text-heading;
                line-height: 1.5;
                letter-spacing: 1px;
                font-size: 1rem;
            }
            .block-content {
                font-size: .875rem;
                line-height: 1.43;
            }
        }
    }
}

